/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset // Main Layout
1. Home
2. Services
3. Adoptions
4. Contact

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'media';
@import 'colors';
@import 'fonts';

/* 0. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family:$fontMain;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	margin: 2% auto;
}

footer{
	height: 15vh;
}

header, footer{
	background-color:$pbNavy;
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.logo-box{
		display: none;
		width: 25%;
		.logo{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}

	nav{
		width: 100%;
		margin:2%;

		ul{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 1%;

			li{
				width: auto;
				font-size: 1.2rem;
				display: flex;
				justify-content: center;
				a{
					text-decoration: none;
					color:$pbBlue;
				}

				a:hover{
					color:wheat;
				}
				a.active{
					color:$pbTeal;
				}
			}
		}
	}


	.social-box{
		width: 100%;
	

		.social-logo{
			width: 100%;
			
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				//background-color: yellow;
				img{
					width:40%;
				}
			}

		}
	}

}

button,.button{
	width: 100%;
	height: 50px;
	border-radius: 15px;
	cursor: pointer;
	background-color: $pbBlue;
	color:whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	border:none;
	text-decoration: none;
}

.button{
	width: 75%;
}

button:hover,.button:hover{
	background-color: $pbTeal;
	color: $pbNavy;
	font-weight: bold;
}

@media#{$tablet}{
	
	header, footer{
		.logo-box{
			display: flex;
			width: 6%;
			margin:2%;
		}

		nav{
			width: 50%;
		}

		.button{
			width: 65%;
		}

		.social-box{
			width: 30%;
			margin:1%;
			
			.social-logo{
			
				a{
					display: flex;
					justify-content: flex-end;
					align-items: center;
					//background-color: yellow;
					img{
						width:40%;
					}
				}
	
			}
		}
	}
}

@media#{$XLdesktop}{
	header,footer{
	
		nav{
		
			ul{
				li{
					font-size: 1.5rem;
				}
			}
		}
	}


}

/* 1. HOME ================================= */

.content-wrapper-page-1-home{
	
	display: flex;
	flex-direction: column;
	.banner{
		width:100%;
		height: 10px;
		background-color: $pbTeal;
		color:$pbTeal;
	}
	.hero{
		width: 100%;
		height: 40vh;
		background-color: $pbNavy;
		background-image: url("/dist/img/spot.jpg") ;
		background-size: cover;
		background-position: center;

		.hero-welcome{
			//background-color: green;
			width:50%;
			min-height: 75%;
			margin:5%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			color: $pbTeal;
			
			h1{
				font-size: 2.5rem;
				text-align: center;
			}

			h3{
				margin-bottom:5%;
				//font-family: 'Pacifico', cursive;
				text-align: center;
				line-height: 1.5rem;
				color:wheat;

			}

			.hero-logo{
				width: 100%;
				img{

					width:70%;
				}
			}

			button{
				margin:5% auto;
				//width: 80%;
			}
		}
	}
	
	.section-title{
		font-size: 3.5rem;
		color:$pbNavy;
		
	}
	.au-copy{
		padding:2%;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.6rem;
		font-size: 1.2em;
		//width:90%
		//background-color: $pbNavy;
		
	}
	.about-section{
		width: 100%;
		
		background-image: url("/dist/img/paw-2.png");
		background-size: 20%;
		background-position: left;
		background-color: $pbNavy;
		background-repeat: no-repeat;
		.about-us{
			width: 95%;
			height: auto;
			margin: 2% auto;
			padding:2%;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: white;
			border:3px solid $pbBlue;
		}
	}

	.services{
		width: 100%;
		//margin:2% auto;
		height: auto;
		background-image: url("/dist/img/paw-2.png");
		background-size: 3.5%;
		background-position: center;
		background-color: $pbNavy;
		display: flex;
		flex-direction: column;
		
		align-items: center;

		.services-title{
			margin:0;
			font-family: 'Pacifico', cursive;
			height: 15vh;
			padding:8%;
			background-color: white;
			border-bottom: 10px solid wheat;
			color:$pbBlue;
			width: 100%;
			text-align: center;
			
			background-image: url("/dist/img/paw-2.png");
			//background-size: 25%;
			background-repeat: no-repeat;
			background-size: 55%;
			background-position-x: 160%;
			background-position-y: 35%;
	
		}

		
		.service-boxes{
			width:100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			//background-color:white;
		
			.service-box{
				//background-color: $pbNavy;
				//border:3px solid $pbTeal;
				width:95%;
				margin:10% 2%;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;

			
				.service-icon{
					background-color: $pbTeal;
					width:100px;
					height: 100px;
					border-radius: 50%;
					position: absolute;
					top:-65px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 4.5px solid wheat;
					

					img{
						width: 100%;

					}

				}

				img.service-img{
					width: 100%;
					border:1px solid wheat;
					border-bottom: none;
					
				}
				
				.service-title{
					font-size: 2rem;
					padding:2%;
					//margin:2% auto;
					color:$pbNavy;
					background-color: $pbTeal;
					width: 100%;
					text-align: center;
				}

				.service-copy{
					background-color: $pbNavy;
					padding:5%;
					color:wheat;
					border:1px solid $pbTeal;
					max-width: 100%;
					text-align: center;
					font-family: Arial, Helvetica, sans-serif;
					line-height: 1.4rem;
					font-size: 1.1em;	
				}
				
				.service-button{
					background-color: $pbTeal;
					color:$pbO-Navy;
					font-weight: bold;
					
				}

				.service-button:hover{
					background-color:$pbBlue;
					//border:1px solid $pbO-Navy;
					color:wheat;
					//font-size: 1.4rem;
				}

			
			}


		}
	}

	.adopt-section{
		background-image: url("/dist/img/paw-2.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position:right;

		.adopt{
			width: 95%;
			height: auto;
			margin: 2% auto;
			padding:3%;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: white;
			border:3px solid $pbBlue;
		}
	}

	
}

@media#{$tablet}{

	.content-wrapper-page-1-home{

		.hero{
			height: 50vh;

			.hero-welcome{
				max-width: 35%;

				h1{
					//font-size: 3.5rem;
				}

				h3{
					font-size: 1.3rem;
					text-align: center;
				}

				
				button{
					width: 100%;
				}


			}
		}
		
		.about-section,.adopt-section{

			.about-us,.adopt{
				width:75%;
				
				.button{
					width:40%;
				}
			}
		}

		.services{
			.service-boxes{
				width:80%;

			}
		}
	}

}

@media#{$desktop}{

	.content-wrapper-page-1-home{

		.hero{
			height: 55vh;

			.hero-welcome{
				
				h3{
					font-size: 1.5rem;
				}

			
			}
		}

		.au-copy{
			max-width: 76%;
		}
	
		.services{

			.services-title{
				//margin:2% auto;
				font-size: 5rem;
				//color:$pbNavy;
			}

			.service-boxes{
				width:100%;
				display: flex;
				flex-direction: row;

				.service-box{
					margin: 4% 2%;
					img.service-img{
						width: 100%;
						min-height: 273px;
					}
				}

				
			}
		}
	}

}

@media#{$XLdesktop}{

	.content-wrapper-page-1-home{

		.hero{
			
			.hero-welcome{
				
				h3{
					font-size: 1.6rem;
				}
				
				.button{
					max-width: 65%;
				}
			
			}
		}

		.au-copy{
			height: auto;
			min-height: 170px;
		}
	
		.about-section,.adopt-section{
			.about-us,.adopt{
			
				.button{
					max-width:35%;
				}
			}
		}

		.services{
			.service-boxes{
				width:100%;
				
				display: flex;
				flex-direction: row;

				.service-box{
					margin: 1% 2%;
					
					img.service-img{
						width: 100%;
						height: 420px;
					}

					.service-copy{
						margin: 0 0 5% 0;
					}
					.button{
						width:50%;
						position: relative;
						top:-35px;
					}
				
					
				}
			}
		}
	}

}

/* 2. Services ================================= */

.content-wrapper-page-2-services{
	
	display: flex;
	flex-direction: column;
	.banner{
		width:100%;
		height: 10px;
		background-color: $pbTeal;
		color:$pbTeal;
	}
	.hero{
		width: 100%;
		height: 30vh;
		background-color: $pbNavy;
		background-image: url("/dist/img/adopt-bkrnd.jpg") ;
		background-size: cover;
		background-position: center;

		.hero-welcome{
			background-color: $pbO-Navy;
			border-radius: 10px;
			width:50%;
			min-height: 75%;
			margin:5%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			color: $pbTeal;
			border: 3px solid $pbTeal;
			
			h1{
				font-size: 2.5rem;
				text-align: center;
			}

			h3{
				//margin:0 5%;
				//font-family: 'Pacifico', cursive;
				text-align: center;
				font-size: 1.5rem;
				line-height: 1.5rem;
				color:wheat;

			}

			.hero-logo{
				width: 100%;
				img{

					width:70%;
				}
			}

			button{
				margin:5% auto;
				width: 80%;
			}
		}
	}
	
	.section-title{
		font-size: 3.5rem;
		color:$pbNavy;
		
	}
	.au-copy{
		padding:2%;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.6rem;
		font-size: 1.2em;
		
	}
	.about-section{
		width: 100%;
		
		background-image: url("/dist/img/paw-2.png");
		background-size: 20%;
		background-position: left;
		background-color: $pbBlue;
		background-repeat: no-repeat;
		.about-us{
			width: 95%;
			height: auto;
			margin: 2% auto;
			padding:2%;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: white;
			border:3px solid $pbNavy;
		}
	}

	.services{
		width: 100%;
		//margin:2% auto;
		height: auto;
		background-image: url("/dist/img/paw-2.png");
		background-size: 3.5%;
		background-position: center;
		background-color: $pbNavy;
		display: flex;
		flex-direction: column;
		
		align-items: center;

		.services-title{
			margin:0;
			font-family: 'Pacifico', cursive;
			height: 15vh;
			padding:8%;
			background-color: white;
			border-bottom: 10px solid wheat;
			color:$pbBlue;
			width: 100%;
			text-align: center;
			
			background-image: url("/dist/img/paw-2.png");
			//background-size: 25%;
			background-repeat: no-repeat;
			background-size: 55%;
			background-position-x: 160%;
			background-position-y: 35%;
	
		}

		
		.service-boxes{
			width:100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			//background-color:white;
		
			.service-box{
				//background-color: $pbNavy;
				//border:3px solid $pbTeal;
				width:95%;
				margin:10% 2%;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;

			
				.service-icon{
					background-color: $pbTeal;
					width:100px;
					height: 100px;
					border-radius: 50%;
					position: absolute;
					top:-65px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 4.5px solid wheat;
					

					img{
						width: 100%;

					}

				}

				img.service-img{
					width: 100%;
					border:1px solid wheat;
					border-bottom: none;
					
				}
				
				.service-title{
					font-size: 2rem;
					padding:2%;
					color:$pbNavy;
					background-color: $pbTeal;
					width: 100%;
					text-align: center;
				}

				.service-copy{
					background-color: $pbNavy;
					padding:5%;
					color:wheat;
					border:1px solid $pbTeal;
					max-width: 100%;
					text-align: center;
					font-family: Arial, Helvetica, sans-serif;
					line-height: 1.4rem;
					font-size: 1.1em;
					
				}
				
				.service-button{
					background-color: $pbTeal;
					color:$pbO-Navy;
					font-weight: bold;
					
				}

				.service-button:hover{
					background-color:$pbBlue;
					//border:1px solid $pbO-Navy;
					color:wheat;
					//font-size: 1.4rem;
				}

			
			}


		}
	}

	.adopt-section{
		background-image: url("/dist/img/paw-2.png");
		background-size: 25%;
		background-repeat: no-repeat;
		background-position:left;
		background-color: $pbNavy;


		.adopt{
			width: 95%;
			height: auto;
			margin: 2% auto;
			padding:3%;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: white;
			border:3px solid $pbBlue;
		}
	}

	
}

@media#{$tablet}{

	.content-wrapper-page-2-services{

		.hero{
			height: 60vh;

			.hero-welcome{
				max-width: 37%;

				h1{
					font-size: 3rem;
				}

				h3{
					font-size: 2.1rem;
					text-align: center;
				}
			}
		}
		
		.about-section,.adopt-section{

			.about-us,.adopt{
				width:80%;
				
				.button{
					width:50%;
				}
			}
		}

		.services{
			.service-boxes{
				width:80%;

			}
		}
	}

}

@media#{$desktop}{

	.content-wrapper-page-2-services{

		.hero{
			
			.hero-welcome{
				
				h1{
					font-size: 3rem;
				}
			}
		}

		.au-copy{
			max-width: 76%;
		}
	
	
		.services{

			.services-title{
				//margin:2% auto;
				
				font-size: 5rem;
				//color:$pbNavy;
			}

			.service-boxes{
				width:100%;
				display: flex;
				flex-direction: row;

				.service-box{
					margin: 4% 2%;
					img.service-img{
						width: 100%;
						height: 273px;
					}

					.service-copy{
						max-width: 100%;
					}
				}

				
			}
		}
	}

}

@media#{$XLdesktop}{

	.content-wrapper-page-2-services{

	
		.au-copy{
			height: auto;
			min-height: 170px;
		}
	
		.about-section,.adopt-section{
			.about-us,.adopt{
				width:75%;
			}
		}

		.services{
			.service-boxes{
				width:100%;
				
				display: flex;
				flex-direction: row;

				.service-box{
					margin: 1% 2%;
					
					img.service-img{
						width: 100%;
						height: 400px;
					}

					.service-copy{
						margin: 0 0 5% 0;
					}
					.button{
						width:50%;
						position: relative;
						top:-35px;
					}
				
					
				}
			}
		}
	}

}


/* 2. ADPOPTIONS ================================= */

.content-wrapper-page-3-adoptions{
	display: flex;
	flex-direction: column;

	
	
	.search-window{
		.banner{
			width:100%;
			height: 10px;
			background-color: $pbTeal;
			color:$pbTeal;
		}
		background-color: $pbTeal;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-image: url("../img/spot.jpg");
		background-size: cover;
		border: 10px solid $pbTeal;
		border-left: none;
		border-right: none;
		#search-form{
			height: auto;
			min-height: 90%;
			width: 90%;
			margin: 2% auto;
			background-color: $pbO-Navy;
			border-radius: 2%;
			color:white;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			.special-offer{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 80%;
				height: 50%;
				

				.search-logo{
					width: 255px;
				}
				
				.page-title{
					display: flex;
					justify-content: center;
					font-size: 2rem;
					margin: 2% auto;
					color: $pbTeal;
				}
		

				.so-copy{
					p{
						margin: 4% auto;
						text-align: left;
						line-height: 1.4rem;
						font-size: 1rem;
						text-align: center;
					}
					ul{
						text-align: center;
						background-color: $pbBlue;
						border: 3px solid $pbTeal;
						padding: 2%;
						margin: 2%;
						background-image: url("/dist/img/paw-2.png");
						background-repeat: no-repeat;
						background-size: 35%;
						background-position-x: 120%;
						background-position-y: 35%;
						list-style: disc inside;

						p{
							font-size: 1.3rem;
							color: $pbNavy;
							font-weight: bold;
							//font-family: 'Pacifico', cursive;
						}
						
						
						li{
							color: wheat;
							margin: 2%;
							font-size: 1.2rem;
							line-height: 1.5rem;
						}
	
					}
				}
				

			}
		
			.search-input{
				//background-color: lightcoral;
				margin-top:4%;
				width: 80%;
				height: 40%;
				max-width: 250px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;

				p{
					color:wheat;
					//font-family: 'Pacifico', cursive;
					font-weight: bold;
					font-size: 1.2rem;
					line-height: 2rem;
				}

				.zip{					
					.zip-label{
						width:50%;
						height: 30px;
						//margin: 2%;
					}

				}
			}
			
			.button{
				margin: 5%;
				width: 50%;
			}
		}
	}

	.adoptions{
		background-color: $pbNavy;
		background-image: url("../img/paw-2.png");
		height: auto;
		display: flex;
		flex-direction: column;
		border: 10px solid $pbTeal;
		border-left: none;
		border-right: none;
		
		
		.adoption-file,.adoption-file-hidden{
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			margin: 2%;
			background-color: $pbNavy;
			border: 2px solid $pbBlue;



			.adoption-info{
				width:100%;
				height: 50%;
			
				.pet-info{
					width:90%;
					margin: 5%;

					line-height: 1.4em;
					//max-width: 95%;
					//border: 2px solid $pbBlue;
					background-color: white;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.pet-desc{
						width:95%;
						margin: 2% auto;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;

						p{
							font-size:1em;
							margin: 2%;
							color: $pbNavy;
							font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
						}

						span{
							color:$pbBlue;
						}
					}

					
					.pet-name{
						font-size:1.4em;
						//font-family: 'Pacifico', cursive;
						//letter-spacing: .3rem;
						//font-weig bold;
						padding: 2%;
						width: 100%;
						background-color: $pbBlue;
						color:wheat;
					}

					.pet-icons{
						
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						flex-direction: column;
						justify-content: space-evenly;
						border-top: 1px solid black;
						font-family: 'P';
						color: $pbNavy;


						.icons{
							margin:3%;
							display: flex;
							align-items: center;
							margin-top:2%;
						}

						.icon{
							width:14px;
							margin: 2%;
						}
					}


					.pet-url {
						text-decoration: none;
						display: flex;
						justify-content: center;
						
						button{
							border-radius: 0;
							font-size: 1rem;;
							
						}
					}
				}

			}		

			.adoption-photo-container{
				width: 100%;
				height: 50%;
				height: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				// background-color: white;
				// border: 3px dotted $pbTeal;
				background-image: url("/dist/img/paw-2.png");
				background-size: 5%;


				.pet-img{
					width: 100%;
					max-height: 470px;
					margin: 2% auto;
					object-fit: contain;
				}

			}
		}
	
		.adoption-file-hidden{
			img{
				max-width: 75%;
			}
		}

	}
}

@media#{$tablet}{

	.content-wrapper-page-3-adoptions{
		.search-window{

			margin: none;
			#search-form{
				width:60%;
			}
		}
		.adoptions{
			display: none;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:space-evenly;
			// height: 100vh;
			// overflow: auto;
		
			.adoption-file,.adoption-file-hidden{
				width:80%;
				flex-direction: row;
			

				.adoption-info{
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					background-color: white;

					.pet-info{
						//margin: 3%;
						height: auto;

						.pet-url{
							button{
								border-radius: 10px;
							}
						}
					}
				}

				.adoption-photo-container{
					//height: 100%;
					//max-height: 300px;
					display: flex;
					justify-content: center;

					.pet-img{
						width: 90%;
						//max-height: 300px;
					}
				}
			}

			.adoption-file:nth-child(even){
				flex-direction: row-reverse;
			}


		}
	}

}

@media#{$XLdesktop}{

	.content-wrapper-page-3-adoptions{
		display: flex;
		flex-direction: row;
		
		.search-window{
			#search-form{
				min-width:50%;
				margin: 5% auto;
				.search-input{
					height: 0;
				}
			}
		}
		.adoptions{
			//margin: 2% auto;
			max-width: 50vw;
			height: 100vh;
			min-height: 900px;
			overflow: auto;
			display: none;
			background-size: cover;

			.adoption-file,.adoption-file-hidden{
				width:95%;
				flex-direction: row;
				//border: 1px solid $pbNavy;
				.adoption-info{
					height: auto;

					.pet-info{
						border-right: none;

					}
				}

			}


		}
	}
	
	
}

/* 4. CONTACT ================================= */



.content-wrapper-page-4-contactUs{
	display: flex;
	flex-direction: column;
	
	.banner{
		width:100%;
		height: 10px;
		background-color: $pbTeal;
		color:$pbTeal;
	}

	.search-window{
		background-color: $pbTeal;
		width: 100%;
		// height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		background-image: url("../img/puppy-bckrnd.jpg");
		background-size: cover;
		background-position-x: center;

		#search-form{
			
			height: 815px;	
			min-height: 75%;
			width: 90%;
			margin: 2% auto;
			background-color: $pbO-Navy;
			border-radius: 2%;
			color:white;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			.special-offer{
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 80%;
				height: 60%;
				text-align: center;

				.search-logo{

					width: 275px;
				}
				
				.page-title{
					display: flex;
					justify-content: center;
					font-size: 2rem;
					margin: 2% auto;
					color: $pbTeal;
				}
		

				.so-copy{
					p{
						text-align: left;
						line-height: 1.4rem;
						font-size: 1.1rem;
					}
				}

				ul{
					text-align: left;
					list-style: circle;
					li{
						color: $pbTeal;
						margin: 5%;
						font-size: 1.4rem;
						line-height: 1.5rem;
					}

				}

			}
			
			.contact-thanks{
				display: none;
				flex-direction: column;
				margin:2%;
				padding: 2%;
				text-align: center;
				line-height: 1.3rem;
				font-size: 1.2rem;

				.page-title{
					font-size: 2rem;
					margin: 2% auto;
					color: $pbTeal;
				}
			}

			.contact-form{
				display: flex;
			}
		
			.search-input{
				//background-color: lightcoral;
				margin-top:5%;
				width: 60%;
				max-width: 250px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;

				p{
					color:yellow;
					font-weight: bold;
					font-size: 1.2rem;
					
				}

				.zip{					
					.zip-label{
						width:50%;
						height: 30px;
					}

				}

				#zipCode{
					//width:150px;
				}
			}
			
			.contact-form{
				min-width: 80%;
				width: 80%;
				display: flex;
				flex-direction: column;
				color: wheat;
				//padding: 2%;

				label{
					margin-top: 2%;
				}
			}
			
			.button{
				width: 50%;
				margin: 5% auto;
			}
		}
	}

}

@media#{$tablet}{

	.content-wrapper-page-4-contactUs{
		.search-window{

			margin: none;
			#search-form{
				max-width:60%;
			}
		}
	
	}

}

@media#{$XLdesktop}{

	.content-wrapper-page-4-contactUs{
		display: flex;
		flex-direction: row;
		
		.search-window{
			//width:10%;
			//margin: 2% auto;

			#search-form{
				width:35%;
				margin: 2%;;
			}
		}
	
	}
	
	
}

