/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'media';
@import 'colors';
@import 'fonts';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family:$fontMain;
}

footer{
	height: 15vh;
}

header, footer{
	background-color:$pbBlue;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.logo-box{
		width: 30%;
		.logo{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}

	nav{
		width: 80%;

		ul{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 1%;

			li{
				width: 20%;
				font-size: 1.2rem;
				display: flex;
				justify-content: center;
				a{
					text-decoration: none;
					color:$pbTeal;
				}

				a:hover{
					color:$pbNavy;
				}
			}
		}
	}

}

button{
	width: 150px;
	height: 50px;
	margin: 2%;
	background-color: $pbNavy;
	color:$pbTeal;
	display: flex;
	align-self: center;
	justify-content: center;
	cursor: pointer;
	font-size: 15px;
}


.page-title{
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin: 2% auto;
	color: $pbRed;
}

.adoptions{
	width: 95%;
	margin: 2% auto;
	// background-color: lightyellow;
	// border: 1px solid black;
	height: auto;
	display: flex;
	flex-direction: column;
	
	.adoption-file{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;
		margin: 2%;
		background-color: $pbBlue;

		.adoption-info{
			width:100%;
			
		
			.pet-info{
				width:100%;
				
				line-height: 1.4em;
				margin: 3%;
				max-width: 95%;
				background-color: white;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.pet-desc{
					width:95%;
					margin: 2% auto;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;

					p{
						font-size:1.2em;
						margin: 2%;
					}
				}

				.pet-icons{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-evenly;

					.icon{
						margin: 2%;
					}
				}

				.pet-name{
					font-size:2em;
					font-weight: bold;
					padding: 2%;
					width: 100%;
					background-color: $pbTeal;
				}

				.pet-url {
					text-decoration: none;
					display: flex;
					justify-content: center;
				}
			}

		}		

		.adoption-photo-container{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;


			.pet-img{
				width: 100%;
			}

		}
	}


}

@media#{$tablet}{
	header{
		.logo-box{
			width: 20%;
		}
	}

	.page-title{
		font-size: 3rem;
	}

	.adoptions{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:space-evenly;
	
		.adoption-file{
			width:35%;
		}

		.adoption-info{
			display: flex;
			flex-direction: row;
			justify-content: center;
			.pet-info{
				margin: 3%;
			}
		}

		.adoption-photo-container{
			//height: 100%;
			//max-height: 300px;
			display: flex;
			justify-content: center;

			img{
				width: 100%;
				//max-height: 300px;
			}
		}

	}

}

@media#{$XLdesktop}{
	header{
		.logo-box{
			width: 15%;
		}

		nav{
			width: 50%;

			ul{
				li{
					font-size: 1.5rem;
				}
			}
		}
	}

	.page-title{
		font-size: 4rem;
	}
	
	.adoptions{
		max-width: 1200px;

		.adoption-file{
			width:25%;
		}

	}
	
}




/* 2. Content ================================= */


/* 4. Contact ================================= */


.see-us{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: pink;
	margin:2% auto;
	.card{
		background-color: lightyellow;
		width: 25%;
		height: 150px;
	}
}

.about-us{
	background-color: plum;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:2% auto;

		.seen-in{
			width: 25%;
		}

		.about-info{
			width: 60%;
		}
}

.contact-us{
	background-color: lightskyblue;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:2% auto;
		.contact-info{
			width: 60%;
		}

		.follow-us{
			width: 25%;
		}
}

