/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'media';
@import 'colors';
@import 'fonts';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family:$fontMain;
}

footer{
	height: 15vh;
}

header, footer{
	background-color:$pbBlue;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.logo-box{
		width: 30%;
		.logo{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}

	nav{
		width: 80%;

		ul{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 1%;

			li{
				width: 20%;
				font-size: 1.2rem;
				display: flex;
				justify-content: center;
				a{
					text-decoration: none;
					color:$pbTeal;
				}

				a:hover{
					color:$pbNavy;
				}
			}
		}
	}
}



.page-title{
	display: flex;
	justify-content: center;
	font-size: 2rem;
	margin: 2% auto;
	color: $pbRed;
}

.adoptions{
	width: 95%;
	margin: 2% auto;
	// background-color: lightyellow;
	// border: 1px solid black;
	height: auto;
	display: flex;
	flex-direction: column;
	
	.adoption-card{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 2%;

		.adoption-info{
			width:60%;
			border: 1.5px solid $pbSandy;
			.pet-name{
				font-weight: bold;
				margin: 2%;
			}

			.pet-info{
				margin: 3%;
			}
		}

		.adoption-photo{
			width: 30%;
			display: flex;
			align-items: center;

			img{
				width: 100%;
			}
		}
	}

	.adoption-card:nth-child(even){
		display: flex;
		flex-direction: row-reverse;
	}

	.card-1{
		.adoption-info{
			color:$pbNavy;
		}
		.adoption-photo{
			background-color: $pbRed;
		}
	}

	.card-2{
		.adoption-info{
			color:$pbRed;
		}
		.adoption-photo{
			background-color: $pbNavy;
		}
	}

	.card-3{
		.adoption-info{
			background-color: $pbSandy;
			color:$pbNavy;
		}
		.adoption-photo{
			background-color: $pbTeal;
		}
	}
}

@media#{$tablet}{
	header{
		.logo-box{
			width: 20%;
		}
	}

	.page-title{
		font-size: 3rem;
	}
}

@media#{$XLdesktop}{
	header{
		.logo-box{
			width: 15%;
		}

		nav{
			width: 50%;

			ul{
				li{
					font-size: 1.5rem;
				}
			}
		}
	}

	.page-title{
		font-size: 4rem;
	}
	
}




/* 2. Content ================================= */


/* 4. Contact ================================= */


.see-us{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: pink;
	margin:2% auto;
	.card{
		background-color: lightyellow;
		width: 25%;
		height: 150px;
	}
}

.about-us{
	background-color: plum;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:2% auto;

		.seen-in{
			width: 25%;
		}

		.about-info{
			width: 60%;
		}
}

.contact-us{
	background-color: lightskyblue;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:2% auto;
		.contact-info{
			width: 60%;
		}

		.follow-us{
			width: 25%;
		}
}

